

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: normal;
    @apply text-titulo font-medium
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
    line-height: normal;
    @apply text-titulo

}

h3{
    font-family: 'Montserrat', sans-serif;
    @apply text-titulo text-2xl
}

h4{
    font-family: 'Montserrat', sans-serif;
    @apply text-titulo font-semibold
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: normal;
    text-shadow: 2px 2px 4px #000000;
    @apply text-titulo font-medium
}

@layer base {
    a {
      @apply underline text-P30
    }
  }

nav li{
    list-style-type: none;
}

.-boton{
    background: #000;
    @apply text-white font-semibold py-2 px-4 rounded;
}

.-boton-blanco{
    @apply bg-white  text-blue-500  font-semibold  hover:text-white hover:bg-blue-500 border border-white visited:text-white p-2;
}


.-nav-link{
    font-family: 'Lato', sans-serif;
    @apply bg-P30  border-P30 font-semibold no-underline px-4
        text-white
        hover:text-P10
        visited:text-white
        active:text-white;

}

.-boton-azul{
    @apply bg-P30  border-P30 font-semibold no-underline
        text-white
        hover:text-P10 hover:bg-white border
        visited:text-white
        active:text-white  p-2;
}

.-link-breadcrumb{
    @apply text-white no-underline font-semibold  hover:underline hover:text-P10 visited:text-white active:text-white pr-1;
}

.-link-titulo{
    @apply text-titulo no-underline text-2xl font-semibold
}


.-aviso{
    @apply text-P30 hover:text-P10 hover:underline visited:text-P30 underline;
}

footer p{
    color: white;
}

footer a{
    @apply text-white hover:text-P10 hover:underline visited:text-white underline;
}
