
h1{
    @apply text-titulo text-xl sm:text-4xl py-4 font-medium
}

h2{
    @apply text-titulo 
}

h3{
    @apply text-titulo text-2xl 
}

@layer base {
    a {
      @apply underline
    }
  }

.-boton{
    background: #000;
    @apply text-white font-semibold py-2 px-4 rounded;
}

.-boton-blanco{
    @apply bg-white  text-blue-500  font-semibold  hover:text-white hover:bg-blue-500 border border-white visited:text-white p-2;
}

.-boton-azul{
    @apply bg-P30  border-P30 font-semibold no-underline
        text-white
        hover:text-P10 hover:bg-white border 
        visited:text-white 
        active:text-white  p-2;
}

.-blue-link{
    @apply text-white no-underline hover:underline hover:text-P10 visited:text-white active:text-white ;
}

.-link-breadcrumb{
    @apply text-white no-underline font-semibold  hover:underline hover:text-P10 visited:text-white active:text-white pr-1;
}

.-link-titulo{
    @apply text-titulo no-underline text-2xl font-semibold 
}

.-titulo{
    @apply py-4 pt-6 text-titulo
}
.-aviso{
    @apply text-P30 hover:text-P10 hover:underline visited:text-P30 underline;
}

