

.-err {
    border: 1px solid red;
}

.-err-b {
    border: 1px solid blue;
}

.-err-g{
    border: 1px solid greenyellow
}

p{
    padding-bottom: 10px;
}

h1{
    font-family: Montserrat;
    font-size:2.0rem;
}

h2{
    font-family: Montserrat;
    font-size:2.0rem;
    padding:1px 0 1px 0;
    font-weight:strong;
}

h3{
    font-family: Montserrat;
    font-size:1.5rem;
}


a:link, a:visited {
    color: #50a0e2;
    text-decoration: underline;
}
  
a:hover {
    color: #F880D4;
}

a.no-underline:link, a.no-underline:visited{
    text-decoration: none;
}


ol, li{
    list-style-position: outside;
    list-style-type: normal;
}

ol li{
    margin-left: 35px;
    list-style-type: normal;
}

.-titulo{
    font-family: Montserrat;
    font-size:2.0rem;
    color:#50a0e2;
}

.-color-azul{
    color: #50a0e2;
}

